<ion-view view-title="Search">
  <ion-content>
  <div id="search-bar">
    <div class="item item-input-inset">
      <label class="item-input-wrapper" id="search-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="query" ng-change="search()">
      </label>
    </div>
  </div>

		<div class="list">

		    <a class="item item-thumbnail-left">
		      <img src="img/ben.png" href="#/propic">
		      	<div class="row">
		      		<div class="col"><center>Benny Boy</center></div>
		      	</div>
				
		      	<div class="row">
		      		<div class="col button button-small button-stable"><center>Add friend</center></div>
		      	</div>
		    </a>

  </ion-content>
</ion-view>